html, body {
  background-color: black;
  text-align: center;
}

body {
  color: white;
  font-family: sans-serif;
}

#contents, #history, #media {
  margin-top: 48px;
}

h1 {
  font-style: italic;
}

.smaller {
  font-size: 0.8em
}

#contents {
  font-size: 1.2rem;
  font-family: sans-serif;
}

#contents h3 {
  font-family: sans-serif;
}

#contents li {
  position: relative;
  right: 16px
}

a:active {
  position: relative;
  top: 2px;
}

a {
  color: white;
}

footer {
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  top: 4px;

}
